<div id="container">
	<div id="session-end" class="jumbotron">
		<div class="row">
			<h2><%= messageMain%><br> 
			<small id="error-msg-ext"><%= messageExtended%></small> </h2>
		
		<p>
		It seems that the link you've just tried is invalid
		 - either it does not point to any open session or the session is already closed.
		 Please try again with a correct one, or <a class="action-link modal-remote" data-toggle="modal" data-target="#new-session-modal">start your own session!</a> 
		</p>
		</div>
		<br>
		
		<div class="row" id="after-actions">
			
			<div class="col-md-4 col-md-offset-4">
				<div class="action-container">
					<h2>
			  			<span class="glyphicon glyphicon-envelope"></span>
			  		</h2>
			  		<p>
			  			Did not help?
			  		</p>
			  		<p>
			  			<a class="action-link modal-remote" data-toggle="modal" data-remote="site/feedback.html" data-target="#feedback-modal">Contact us!</a>
			  		</p>
				</div>
			</div>
			
		</div> <!-- row -->
		
		
	</div>
</div> <!-- container -->
