<div id="container">
	<div id="session-end" class="jumbotron">
		<div class="row">
			<h2><%= messageMain%><br> 
			<small id="error-msg-ext"><%= messageExtended%></small> </h2>
			<p> 
				<%= fatalErrorMsg %>
			</p>
		</div>
		<br>
		<div class="row" id="after-actions">			
			<div class="col-md-4 col-md-offset-4">
				<div class="action-container">
					<h2>
			  			<span class="glyphicon glyphicon-envelope"></span>
			  		</h2>
			  		<p>
			  			<a class="action-link modal-remote" data-toggle="modal" data-remote="<%= feedbackLink %>" data-target="#feedback-modal"><%= contactUsLbl %></a>
			  		</p>
				</div>
			</div>
		</div> <!-- row -->
	</div>
</div> <!-- container -->
