<div id="intro" class="jumbotron">
<h2>Welcome to Peershow!</h2>
<p>In Peershow you can have a peer-to-peer slideshow session within seconds, in just 3 steps</p><br><br>
<div class="row">
  <div class="col-md-4">
<h3><span class="glyphicon glyphicon-log-in"></span>  Create</h3>
<p>a session by providing your name
</p></div>
  <div class="col-md-4"><h3><span class="glyphicon glyphicon-upload"></span>  Drop </h3>
  <p>pictures you want to show</p>
</div>
  <div class="col-md-4"><h3><span class="glyphicon glyphicon-share"></span>  Share</h3><p>a link to the session with your peers</p></div>
</div>

</div>
