<div id="intro-guest" class="jumbotron">
	<div id="pitch">
		<h2>Welcome to</h2>
		<img id="logo" class="img-responsive" src="img/big_logo.png"></img>
		<p>In peer2show you can have a peer-to-peer slideshow session within seconds, in just 3 steps</p>
	</div>
	<br><br>
	<div class="row">
		<div class="col-md-6">
			<p>You were invited to join a hosted session, that's great! </p>
			<p>Just provide your name to do some peershow!</p>
		</div>
		<div class="cold-md-6">
			<div id="new-user-form">
				<p>
					<strong> So, what is your name?</strong>
					<div class="input-group">
		      			<input type="text" class="form-control" id="username-inp" placeholder="Username">
		      			<span class="input-group-btn">
			        		<button class="btn btn-default" type="button" id="apply-bt">
			        			<span class="glyphicon glyphicon-log-in"></span> Join
			        		</button>
		      			</span>
					</div><!-- /input-group -->
				</p>
			</div><!-- new-user-form -->
		</div>
	</div>
</div>
