<div class="container" id="container">

	<div id="sidebar-left" class="sidebar left dimmed-mid">
		<div id="users-area" >
		</div>
		<div id="preview-area">
		</div>
	</div>
    
	
    <div id="show-area" class="">
	    <div id="prev-area" class="navigation-area prev dimmed">
			<button id="prev" type="button" class="btn btn-default btn-lg">
		    		<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
		<div id="next-area" class="navigation-area next dimmed">
			<button id="next" type="button" class="btn btn-default btn-lg">
	    		<span class="glyphicon glyphicon-chevron-right"></span>
	    	</button>
	    </div>
	</div>
	

</div> <!-- container -->