<div id="container">
	<div id="session-end" class="jumbotron">
		<div class="row">
			<h2><%= messageMain%><br> 
			<small><%= messageExtended%></small> </h2>
			
			<p> 
			<%= sessionEndMsg %>
			</p>
		</div>
		<br>
		<div class="row" id="after-actions">
			<div class="col-md-4">
				<div class="action-container">
					<h2><span class="glyphicon glyphicon-log-in"></span></h2>
					<p><a class="action-link modal-remote" data-toggle="modal" data-target="#new-session-modal"><%= createNewSessionLbl %></a></p>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="action-container">
					<h2><span class="glyphicon glyphicon-heart"></span></h2>
					<p> <%= shareItMsg %> </p>
					<div class="row social-link-panel-lg">
						<div class="col-md-4 col-xs-4">
							<a class="social-link-lg" id="fb-link" target="_blank" href="https://www.facebook.com/peer2show"></a>
						</div>
						<div class="col-md-4 col-xs-4">
							<a class="social-link-lg" id="gplus-link" target="_blank" href="https://plus.google.com/u/3/b/105976349513067664645/"></a>
						</div>
						<div class="col-md-4 col-xs-4">
							<a class="social-link-lg" id="tweet-link" target="_blank" href="https://twitter.com/peer2show"></a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="action-container">
					<h2>
			  			<span class="glyphicon glyphicon-envelope"></span>
			  		</h2>
			  		<%= dropMessageMsg %>
				</div>
			</div>
			
		</div> <!-- row -->
		
		
	</div>
</div> <!-- container -->
