<div id="container">
	<div id="session-end" class="jumbotron">
		<h2><%= messageMain%><br> 
		<small><%= messageExtended%></small> </h2>
		
		<p> Thanks for using peer2show, hope you enjoyed it. But it's not the end yet! Feel free to
		<a class="action-link" data-toggle="modal" href="site/feedback.html" data-target="#feedback-modal">drop us a message</a> or
		<a class="action-link" data-toggle="modal" href="site/smartvote.html" data-target="#smartvote-modal">help us improve</a>!
		Last but not least, you can always <a class="action-link" data-toggle="modal" href="" data-target="#new-session-modal">start a new session</a>.
		</p>
	</div>
</div> <!-- container -->
