<div id="container">
	<div id="session-end" class="jumbotron">
		<h2>Your session has ended!<br> 
		<small><%= messageExtended%></small> </h2>
		
		<p> Thanks for using Peershow, hope you enjoyed it. But it's not the end yet! Feel free to
		<a data-toggle="modal" href="site/feedback.html" data-target="#feedback-modal">drop us a message</a> or
		<a data-toggle="modal" href="site/smartvote.html" data-target="#smartvote-modal">help us improve</a>!
		Last but not least, you can always <a href="">start a new session</a>.
		</p>
	</div>
</div> <!-- container -->
