body{
background-color: #1F1F1F;

}

 {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
/*
.row div {
   
    -webkit-transition: width 5s ease, margin 5s ease;
    -moz-transition: width 5s ease, margin 5s ease;
    -o-transition: width 5s ease, margin 5s ease;
    transition: width 5s ease, margin 5s ease;
}
*/
.slide-preview{
	height: 100px;
	width: 100%;
}

.slide-preview button{
	float:left;
	display:none;
}

.slide-preview.active-slide{
}

.slide-preview.inactive-slide{
}


.slide-preview.inactive-slide img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.slide-preview.inactive-slide img:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

.col-md-0 {
	display:none;
	overflow:hidden;
	float:right;
}

.navbar-nav.nav-justified {
    display:table;
	
}

.navbar-nav.nav-justified > li{
    float:none;
    width:auto;
}

.container-full{
	margin: 0 auto;
  width: 100%;
}

.dimmed {
	opacity:0;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.dimmed:hover {
	opacity:0.1;
}

.dimmed-mid {
	opacity:0.5;
      transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.dimmed-mid:hover {
	opacity:1;
}

#overlay{
	position: absolute;
    bottom: 0;
    right: 0;
    top: 50px;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .9;
    filter:alpha(opacity = 50);
    
    text-align:center;
    display:inline-block; 
}

#overlay #wrapper{
	width:100%;
	margin-top:10%;
	display:block;
}

#overlay #msg{
	color:white;
	font-size:25px;
	width:100%;
	float:left;
}

#topbar {
	text-align:center;
}

#sidebar-toggle{
	float:right;
}

.left {
    left:0px;
	
}
.right{
    right:0px;
}

.navigation-area {
    position:absolute;
    z-index:1;
    width:40%;
    height:500px;
	border-style:none;
    
}

.navigation-area button {
    height:100%;
    width:100%;
    border-style:none;
}

.prev{
    left:15px;   
}

.next{
    right:15px;
}

#intro {
	/* margin-left:10%; */
	/* color:white; */
	text-align: center;
}

#new-user-form{
	margin-left:10%;
	/* margin-top:10%; */
	margin-right:10%;
	color:white;
}

#slide-show-area {
	width:100%;
    	padding: 0px 0px 0px 0px;
   height: 500px;
}

#slide-show-area p {
	width:100%;
	height:100%;
	text-align:center;
	padding-top: 20%;
	font-style:italic;
	color:grey;
	font-size:2em;
	border:dashed 5px grey;
}

#slide-show-area #img-metadata{
	font-style:italic;
	text-align:center;

	
	background-color:white;
/* 	opacity:0.7
	z-index:2;
	position:absolute; */
	
}

#slide-show-area img {
	width:auto;
	max-height: 100%;
	max-width: 100%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


#sidebar-panel{
    max-height: 500px;
    overflow-y:auto;
    overflow-x:hidden;
}

#slide-preview-area {
	padding: 0px 0px 0px 0px;
	width: 100%;
	white-space: nowrap;
    vertical-align:middle;
}


#preview-prev button{
	height:100px;
}
#preview-next button{
	height:100px;
}

#slide-preview-area img {
	width:auto;
	height: 100%;
	/* float:left; */
	cursor:pointer;
	
}




/* Large desktop */
      @media (min-width: 980px) { 

	  }

      /* Landscape phones and down */
      @media (max-width: 650px) { 
       .videoContainer{
    
      	}
      }

button {
  font: 18px sans-serif;
  padding: 8px;
}
/* busy animation */
#circleG{
width:149.33333333333334px;
filter:alpha(opacity = 0);
margin:auto;
}

.circleG{
background-color:#515246;
float:left;
height:32px;
margin-left:17px;
width:32px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:21px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:21px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:21px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:21px;
animation-name:bounce_circleG;
animation-duration:1.5s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:21px;
}

#circleG_1{
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circleG_2{
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circleG_3{
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}