body{
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRDVENUQ1Ii8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB4PSIwJSIgeT0iMCUiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9IiNENUQ1RDUiIC8+PHJlY3QgeD0iMCUiIHk9Ii00Ny44NDQ4JSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTk1LjY4OTclIiBmaWxsPSJ1cmwoI2cpIiAvPjwvc3ZnPg==);
background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 114, color-stop(0%, #ffffff), color-stop(100%, #D5D5D5));
background-image: -webkit-radial-gradient(center center, farthest-side circle, #ffffff 0%, #D5D5D5 100%);
background-image: -moz-radial-gradient(center center, farthest-side circle, #ffffff 0%, #D5D5D5 100%);
background-image: -ms-radial-gradient(center center, farthest-side circle, #ffffff 0%, #D5D5D5 100%);
background-image: -o-radial-gradient(center center, farthest-side circle, #ffffff 0%, #D5D5D5 100%);
background-image: radial-gradient(farthest-side circle at center center, #ffffff 0%, #D5D5D5 100%);

}

.container-full{
	margin: 0 auto;
  width: 100%;
}


.dimmed {
	opacity:0.2;
}

.dimmed:hover {
	opacity:1;
}

.dimmed-mid {
	opacity:0.6;
}

.dimmed-mid:hover {
	opacity:1;
}

#overlay{
	position: absolute;
    bottom: 0;
    right: 0;
    top: 50px;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter:alpha(opacity = 50);
    vertical-align:middle;
    text-align:center;
    display:inline-block; 
}

#overlay #wrapper{
	width:100%;
	margin-top:20%;
	display:block;
}

#overlay #msg{
	color:white;
	font-size:20px;
	width:100%;
	float:left;
}

#prev-area button{
	height:500px;
}

#slide-show-area {
	width:100%;
	height:500px;
}

#next-area button{
	height:500px;
}

#slide-show-area {
	padding: 0px 0px 0px 0px;
}

#slide-show-area img {
	width:auto;
	max-height:500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

#slide-preview-area {
	padding: 0px 0px 0px 0px;
	display: inline-block;
	width:100%;
	height:100px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

#preview-prev button{
	height:100px;
}
#preview-next button{
	height:100px;
}

#slide-preview-area * {
	display:inline-block;
}

#slide-preview-area img {
	width:auto;
	height:100px;
	float:left;
	cursor:pointer;
}

#slide-preview-area img.inactive-slide {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
#slide-preview-area img.inactive-slide:hover {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}



/* Large desktop */
      @media (min-width: 980px) { 

	  }

      /* Landscape phones and down */
      @media (max-width: 650px) { 
       .videoContainer{
    
      	}
      }

button {
  font: 18px sans-serif;
  padding: 8px;
}
/* busy animation */
#circleG{
width:149.33333333333334px;
filter:alpha(opacity = 0);
margin:auto;
}

.circleG{
background-color:#515246;
float:left;
height:32px;
margin-left:17px;
width:32px;
-moz-animation-name:bounce_circleG;
-moz-animation-duration:1.5s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-border-radius:21px;
-webkit-animation-name:bounce_circleG;
-webkit-animation-duration:1.5s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-border-radius:21px;
-ms-animation-name:bounce_circleG;
-ms-animation-duration:1.5s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-border-radius:21px;
-o-animation-name:bounce_circleG;
-o-animation-duration:1.5s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-border-radius:21px;
animation-name:bounce_circleG;
animation-duration:1.5s;
animation-iteration-count:infinite;
animation-direction:linear;
border-radius:21px;
}

#circleG_1{
-moz-animation-delay:0.3s;
-webkit-animation-delay:0.3s;
-ms-animation-delay:0.3s;
-o-animation-delay:0.3s;
animation-delay:0.3s;
}

#circleG_2{
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#circleG_3{
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

@-moz-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@-webkit-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@-ms-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@-o-keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}

@keyframes bounce_circleG{
0%{
}

50%{
background-color:#DEB22C}

100%{
}

}