<div id="user-home">
	<div class="row">
		<p><span class="glyphicon glyphicon-home"></span> Hello <span id="username"> <%=username %></span> </p>
		
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Session preferences</h3>
  			</div>
  			<div id="session-settings" class="panel-body"></div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-heading">
    			<h3 class="panel-title">Account settings</h3>
  			</div>
  			<div id="account-settings" class="panel-body"></div>
		</div>
	</div>
</div>
