<div id="reset-error" class="alert alert-danger" role="alert" ><%= resetFailLbl %></div>
<div id="reset-success" class="alert alert-success" role="alert" ><%= resetDoneLbl %></div>
<form id="reset-form" role="form" action="/reset" method="post">
	<div id="old-password-form" class="form-group">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-lock"></span> <%=oldPasswordLbl%>
			</span>
	  		<input type="password" class="form-control" id="old-password-inp" name="oldPassword" required>
		</div>
	</div>
	<div id="new-password-form" class="form-group">
		<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span> <%=newPasswordLbl%>
				</span>
		  		<input pattern="<%=rules.password.pattern%>" title="<%=errors[rules.password.error]%>" type="password" class="form-control" id="password-inp" name="password" required >
		</div>
	</div>
	<div id="password-confirm-form" class="form-group">
		<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span> <%=confirmPasswordLbl %>
				</span>
		  		<input pattern=".{4,}" title="<%=errors[rules.password.error]%>" type="password" class="form-control" id="password-confirm-inp" name="passwordConfirm" required>
		</div>
	</div>
	<button id="reset-btn" class="btn"><%=changePasswordLbl%></button>
</form>