Width:<input id="maxWidth" value="<%=maxWidth%>" placeholder=" " min="800" step="1" max="5000" size="4" class="form-control model-input" type="number" required>

Height:<input id="maxHeight" value="<%=maxHeight%>" placeholder=" " min="500" step="1" max="5000" size="4" class="form-control model-input" type="number" required>

<!--Compress Quality:<input id="quality" value="<%=quality%>" min="0.1" step="0.05" max="1" placeholder=" " class="form-control model-input" type="range" required>-->


<button id="save-settings-btn" class="btn save-btn" type="button" class="btn btn-default">Save</button>