<form class="form-horizontal" role="form">
<div id="maxWidth-form" class="form-group has-error has-feedback">
	
	<div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-resize-horizontal"></span> Width (px)
		</span>
  		<input id="maxWidth" value="<%=maxWidth%>" placeholder=" " min="400" step="10" max="5000" size="4" class="form-control model-input" type="number" required>
	</div>
	<small id="maxWidth-error" class="control-label validation-error">Input with error</small>
</div>

<div id="maxHeight-form" class="form-group	">
	<div class="input-group">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-resize-vertical"></span> Height (px)
		</span>
  		<input id="maxHeight" value="<%=maxHeight%>" placeholder=" " min="200" step="10" max="5000" size="4" class="form-control model-input" type="number" required>
	</div>
	<small id="maxHeight-error" class="control-label validation-error">Input with error</small>
</div>
<!--Compress Quality:<input id="quality" value="<%=quality%>" min="0.1" step="0.05" max="1" placeholder=" " class="form-control model-input" type="range" required>-->


<button id="save-settings-btn" class="btn save-btn" type="button" class="btn btn-default">Save</button>
</form>