<div class="navbar navbar-inverse landing-page-style" id="navbar" role="navigation">
	<div class="nav-container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-actions">
				<span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
			<a id="navbar-logo" class="navbar-brand" href="/"></a>
		</div>
		<!-- Place everything within .navbar-collapse to hide it until above 768px -->
		<div class="collapse navbar-collapse" id="nav-actions">
			<ul class="nav navbar-nav">
				<li><a class="modal-remote" data-toggle="modal" data-target="#new-session-modal"><%= newSessionLbl %></a></li>
				<li><a class="modal-remote" id="learn-more-action"><%= learnMoreLbl %></a></li>
				<li><a class="modal-remote" data-toggle="modal" data-remote="<%= feedbackLink %>" data-target="#feedback-modal"><%= feedbackLbl %></a></li>
			</ul>		
			<ul class="" id="social-bar">
				<li><a target="_blank" class="social-link" id="fb-link" href="https://www.facebook.com/peer2show"></a></li>
				<li><a target="_blank" class="social-link" id="gplus-link" href="https://plus.google.com/u/3/b/105976349513067664645/"></a></li>
				<li><a target="_blank" class="social-link" id="tweet-link" href="https://twitter.com/peer2show"></a></li>
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div><!-- /.navbar -->