<div class="modal fade" id="bugreport-modal" tabindex="-1" role="dialog" aria-labelledby="bugreportModal" aria-hidden="true">
	
	
	
	
	
	
	
	<div class="modal-dialog" id="bugreport-modal-dialog">
		<div class="modal-content">
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<div class="modal-body">
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/q5zj42yXy00EO0J7VDw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- The Classic Widget will be embeded wherever this div is placed -->
<div data-uv-inline="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="249312" data-uv-width="100%" data-uv-height="550px"></div>		
</div>		
		
		
		
		
		
		
		
<!--		
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Report an issue</h4>
		      </div>
		      <div class="modal-body">
	  		  	<input type="text" class="form-control" id="bugreport-title-inp" placeholder="Title" value="<%= title %>">
	  		  	<input type="text" class="form-control" id="bugreport-mail-inp" placeholder="Mail">
	  		  	<textarea type="text" class="form-control" id="bugreport-desc-inp" placeholder="Description" />
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" id="bugreport-save-btn">Save</button>
		        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
		      </div>
-->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>