<div class="modal fade" id="bugreport-modal" tabindex="-1" role="dialog" aria-labelledby="bugreportModal" aria-hidden="true">
	<div class="modal-dialog" id="bugreport-modal-dialog">
		<div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Report an issue</h4>
		      </div>
		      <div class="modal-body">
	  		  	<input type="text" class="form-control" id="bugreport-title-inp" placeholder="Title">
	  		  	<input type="text" class="form-control" id="bugreport-mail-inp" placeholder="Mail">
	  		  	<input type="text" class="form-control" id="bugreport-desc-inp" placeholder="Description">
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-default" id="bugreport-save-btn">Save</button>
		        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
		      </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>