<!-- Modal -->
<div class="modal fade" id="confirm-close-modal" tabindex="-1" role="dialog" aria-labelledby="confirmCloseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= closeSessionLbl %></h4>
      </div>
      <div class="modal-body">
      	<p><%= closeSessionConfirmMsg %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirm-close"  data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->