<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= loginLbl %></h4>
      </div>
      
      <div class="modal-body">
	      <form id="login-form" class="form-signin" role="form" action="/login" method="post">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input id="usernameLoginInp" type="text" name="username" class="form-control" placeholder="username" required autofocus>
	        <input id="passwordLoginInp" type="password" name="password" class="form-control" placeholder="Password" required>
	        <label class="checkbox">
	          <input type="checkbox" value="remember-me"> Remember me
	        </label>
	        <button class="btn btn-primary">Sign in</button>
	      </form>
	  </div>
      <div class="modal-footer">
        
        <button id="sign-toggle-btn" type="button" class="btn btn-block"><%= registerBtn %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->