<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="carousel-item-header" class="modal-title"><%= loginLbl %></h4>
      </div>
      
      <div class="modal-body">
      	  <div id="user-management-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		 	<div class="carousel-inner" role="listbox">
    			<div class="item active">
    				<div id="login-error" class="alert alert-danger" role="alert" ><%= loginFailLbl %></div>
      				<form id="login-form" class="form-signin" role="form" action="/login" method="post">
      					<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-user"></span> Username
								</span>
	  							<input type="text" class="form-control" id="username-login-inp" name="username" required>
							</div>
						</div>
	        			<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-lock"></span> Password
								</span>
	  							<input type="password" class="form-control" id="password-login-inp" name="password" required>
							</div>
						</div>
	        			<button id="login-btn" class="btn btn-primary"><%= loginLbl %></button>
	      			</form>
	      			<br>
	      			<a id="goto-forgot-btn" href=""><small>Forgot password?</small></a>
    			</div>
    			<div class="item">
      				<p>
      				Public registration is not enabled right now. 
      				If you want to participate in closed beta tests of functionalities for premium users, contact us at <a href="mailto:support@peer2show.com">support@peer2show.com!</a>
      				</p>
    			</div>
    			<div class="item">
      				<div id="forgot-error" class="alert alert-danger" role="alert" ><%= forgotFailLbl %></div>
					<div id="forgot-success" class="alert alert-success" role="alert" ><%= forgotDoneLbl %></div>
						
      				<form id="forgot-form" role="form" action="/forgot" method="post">
	        			<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-envelope"></span> E-mail address
								</span>
	  							<input type="email" class="form-control" id="email-inp" name="email" required autofocus>
							</div>
						</div>
	        			<button id="forgot-btn" class="btn btn-primary"><%= forgotLbl %></button>
	      			</form>
    			</div>
  		  	</div>
	  	  </div>
	      
	  </div>	  
      <div class="modal-footer">
        
        <button id="item-toggle-btn" type="button" class="btn btn-block"><%= registerLbl %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->